.creative-items {
    width: 100%;
    height: 400px;
    display: flex;
    background-color: #0b2139;
}

.creative-items img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.creative-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.creative-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
