.learning {
  background: linear-gradient(to bottom, #d7ffed, #7ba98b);
  padding: 80px 0;
    
}

.learnimg {
    width: fit-content;
   height: 60vh;
   
}
.seniors {
   text-align: center;
    bottom:0;
    left:0;
    color:rgb(230, 230, 230);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px rgba(7, 7, 7, 0.5);

}

.learnimg img {
    object-fit: cover;
    cursor: pointer;
    height: 100%;
    width: 100%;
    /* margin-right: 20px; */
    /* background: linear-gradient(10deg, #252525, #15d9f7);  */
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); */
}

.close-btn {
    position: relative;
    top:-80px;
    left:0;
    background: rgb(179, 3, 91);
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  
  .show {
    animation: fadeIn 0.5s forwards;
  }
  
  .hide {
    animation: fadeOut 0.5s forwards;
  }



 .learning-btn {
  padding: 8px 25px;
  border: 0;
  background-color: var(--red);
  color: white;
  font-size: 16px; 
  border-radius: 2px; 
  cursor: pointer;
}

.learning-btn:hover {
  transform: scale(1.05); 
  transition: all 0.3s ease-in-out;
  
}




