
    
 
 
    .our-team .social {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .our-team .social li{
    display: inline-block;
    }
    .our-team .social li a {
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
        color: #fff;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        border-radius: 30px;
        margin: 3px;
    }
    .our-team:hover .social li:nth-child(1) a{
        -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s;
    }
    .our-team:hover .social li:nth-child(2) a{
        -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s
    }
    .our-team:hover .social li:nth-child(3) a{
        -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
    }
    .our-team:hover .social li:nth-child(4) a{
        -webkit-transition-delay: 0s;
                transition-delay: 0s;
    }
    .our-team .social li a:hover{
        -webkit-transition-delay: 0s;
                transition-delay: 0s;
    }
    
    .facebook{background: #1C58A1;}
    .facebook:hover{background: #fff;color:#1C58A1!important;}
    .twitter{background: #0CBCE3;}
    .twitter:hover{background: #fff;color:#0CBCE3!important;}
    .google{background: #F04537;}
    .google:hover{background: #fff;color:#F04537!important;}
    
    /*START BOARD DIRECTOR*/
    .bod_area {
        padding-bottom: 80px;
        background:#f6fff6;
    }
    @media only screen and (max-width:768px) { 
    .our-bod {margin-bottom:30px}
    }
    .single-bod{margin-bottom:10px;}
    .single-bod img {
        margin-bottom:15px;
        width: 180px;
        border-radius:2px;
        height: 180px;
        object-fit: cover;
        border: 5px solid #38ed65;
    }
    .single-bod h4 {
        margin-bottom:0px;
        font-size:18px;
        font-weight: 600;
    }
    .single-bod p{margin-bottom:0px;  font-size:14px;font-weight: 500;}
    
    .our-bod .social {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .our-bod .social li{
    display: inline-block;
    }
    .our-bod .social li a {
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
        color: #fff;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        border-radius: 30px;
        margin: 3px;
    }
    .our-bod:hover .social li:nth-child(1) a{
        -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s;
    }
    .our-bod:hover .social li:nth-child(2) a{
        -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s
    }
    .our-bod:hover .social li:nth-child(3) a{
        -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
    }
    .our-bod:hover .social li:nth-child(4) a{
        -webkit-transition-delay: 0s;
                transition-delay: 0s;
    }
    .our-bod .social li a:hover{
        -webkit-transition-delay: 0s;
                transition-delay: 0s;
    }
    .title_spectial {
        text-align: center;
        font-weight: 600;
        position: relative;
        margin-bottom: 60px;
        text-transform: uppercase;
        font-size: 24px;
    }
    .bod_area {
        padding-bottom: 80px;
    }
    .section-padding {
        padding: 80px 0;
        padding-top: 100px;
    }